@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Careers>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}
@section Header{
    <link href="~/css/services.css" rel="stylesheet" />
}
@* the fun starts here *@
<div class="page-title">
    <div class="container">@Model.PageTitle</div>
</div>
<div class="service-list container clearfix">
    <div class="col75">
        <div class="introduction">
            <p>@Model.CareerIntro</p>
        </div>
        @foreach (var item in Model.Children<CareerDetail>().Where(_=>_.ValidToDate > DateTime.Now).ToList())
        {
            <div class="service clearfix">
                <div class="service-hero">
                    <a href="@item.Url()"><img src="@(item.JobMainImage?.Url())" alt="@item.PageTitle"></a>
                </div>
                <div class="service-desc">
                    <a href="@item.Url()" class="service-name">@item.PageTitle</a>
                    <p>@item.CareerExcerpt</p>
                    <div><a href="@item.Url()" class="read-more">Read more</a></div>
                </div>
            </div>
        }

    </div>
    <div class="col25">
        @{ Html.RenderAction("RenderSectionContactForm", "ContactForm"); }
    </div>
</div>

@Html.Partial("~/views/partials/PartnerList.cshtml", (Home)Model.Root())