@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ServiceDetail>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}
@section Header{
    <link href="~/css/services.css" rel="stylesheet" />
}

@* the fun starts here *@

<div class="page-title">
    <div class="container">@Model.PageTitle</div>
</div>
<div class="service-list container clearfix">
    <div class="col75 clearfix">
        @*<div class="breadcrumb">
                You are here: <a href="/">Home</a> > <a href="/services">Services</a> > HR & PAYROLL
            </div>*@
        <img src="@(Model.ServiceMainImage?.Url())">
        <div class="introduction">
            @Html.Raw(Model.ServiceDescription)
        </div>
        @foreach (var item in Model.ServiceElementItems)
        {
            <div class="panel">
                <input id="service-@item.Key" class="panel-state" type="checkbox" />
                <label class="panel-label" for="service-@item.Key">@item.FeatureName</label>
                <div class="panel-item service-@item.Key">
                    @Html.Raw(item.FeatureDetails)
                </div>
            </div>
        }
    </div>
    <div class="col25">
        @{ Html.RenderAction("RenderSectionContactForm", "ContactForm"); }
    </div>
</div>
@Html.Partial("~/views/partials/PartnerList.cshtml", (Home)Model.Root())