@model BdhCMS.Web.Models.ApplyJobFormViewModel
@{
    Layout = "../../MasterEmailTemplate.cshtml";
}
<div class="container">
    <div>
        <h3>Thông tin ứng viên ứng tuyển vị trí: @(Model.CareerDetail?.PageTitle)</h3>
        <ul>
            <li><strong>Tên: </strong>@Model.Name</li>
            <li><strong>Email: </strong>@Model.Email</li>
            <li><strong>Số điện thoại:</strong>@Model.Phone</li>
            <li><strong>Nội dung: </strong>@Model.Message</li>
            <li><strong>Note*: CV vui lòng xem file đính kèm</strong></li>
        </ul>
    </div>
</div>